*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
/*Bloque Encabezado*/
header{
  display:flex;
  justify-content: space-between;
  background-color: #00AF1C;
  color: #FFFFFF;
  width: 1440px;
  height: 99px;
}

header li{
  display:block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}


.logo{
  position: absolute;
width: 95px;
height: 37px;
left: 33px;
top: 30px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 37px;
}


.barra_nav{
  position: absolute;

width: 560px;
height: 21px;
left: 821px;
top: 38px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16 px;
line-height: 21px;
}

.links{
  padding-left: 10px;
}

/*Bloque main*/
h2{
  padding-bottom: 20px;
  font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
}

.parrafo{
  padding-bottom: 20px;
  width: 1367px;

  font-size: 16px;
  line-height: 26px;
}
.secciones{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;

}

#section1>h2{
  color: #3B06D2;

}
#section2>h2{
  color: #D206B2;
}
#section3>h2{
  color: #AAD206;
}

#section4>h2{
  color: #06D2C6;
}
img{
  padding-left: 30px;
  width: 385px;
  height: 182px;
}
main li{
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
}
#elemento1{
  color: #FF0000;
}
#elemento2{
  color: #3B06D2;
}
#elemento3{
  color: #AAD206;
}
#elemento4{
  color: #06D2C6;
}
#elemento5{
  color: #AE8800;
}
#elemento6{
  color: #e5411d;
}
#elemento7{
  color: #4b1bd1;
}
#elemento8{
  color: #0ecf48;
}
.nombre{
  margin-bottom: 10px;
  width: 1339px;
height: 50px;
}
.texto{
  width: 1339px;
height: 214px;
}
.boton{
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 195px;
  height: 73px;
}

/*Pie de página*/

footer{
  display:flex;
  justify-content: space-between;
  background-color: #00AF1C;
  color: #FFFFFF;
  width: 1440px;
height: 99px;
left: 0px;
top: 2814px;
}
.pie{
  display: flex;
  align-items: center;
}
.derechos{
  position: absolute;
width: 361px;
height: 28px;
left: 38px;
margin-top: 20px;
}
.creado{
  position: absolute;
width: 222px;
height: 28px;
left: 1183px;
margin-top: 20px;

}